@media (max-width: 1200px) {
  .carousel_btn-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }
            .main-container {
              width: 90%;
              margin: 0 auto;
            }
                        .content {
                          width: 90%;
                          margin: 0 auto;
                        }

                            .titulo-evento{
                              width:10px ;
                            } 
                                .data-evento {
                                   margin-right: 20%;
                                 }
     .go-top {
       width: 2.5rem;
       height: 2.5rem;
       
     }
 .video {
   width: 90%;
   
   height: auto;
   
 }
}



@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    min-height: auto;
  }
     .go-top {
       width: 2rem;
       height: 2rem;
     }
                    .video {
                      width: 90%;
                      /* Utilize unidades de medida, por exemplo, % ou px */
                      height: auto;
                      /* Ou defina a altura conforme necessário */
                    }
  .slider_section .detail-box {
    margin-bottom: 45px;
  }

  .contact_nav {
    width: 100%;
    justify-content: space-between;
  }

  .contact_nav a {
    margin: 0;
  }

  .navbar-collapse {
    padding: 30px 0;
  }

  .search_form {
    margin: 0;
    justify-content: center;
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .about_section .img-box {
    margin-top: 45px;
  }
    .duvidas__copy {
      width: 100%;
    }
}

@media (max-width: 576px) {
  .contact_nav a {
    margin: 0;
    font-size: 14px;
  }
         .video {
           width: 90%;
           /* Utilize unidades de medida, por exemplo, % ou px */
           height: auto;
           /* Ou defina a altura conforme necessário */
         }
        .duvidas-titulo {
          font-size: 1rem;
        }
   }

@media (max-width: 480px) {
  .search_form .form-control {
    width: calc(100% - 30px);
  }
 .video {
   width: 90%;
   /* Utilize unidades de medida, por exemplo, % ou px */
   height: auto;
   
 }
  .client_section .box .client_id {
    flex-direction: column;
  }

  .client_section .box .client_id .img-box {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 420px) {
  .slider_section .detail-box h1 {
    font-size: 2rem;
  }
}

@media (max-width: 376px) {
  .slider_section .detail-box h1 {
    font-size: 26px;
    line-height: 1.5;
  }
}


@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}